In [1]:
import pandas as pd
import numpy as np

!pip install fuzzywuzzy python-Levenshtein
from fuzzywuzzy import process

Requirement already satisfied: fuzzywuzzy in c:\users\swath\downloads\python\lib\site-packages (0.18.0)
Requirement already satisfied: python-Levenshtein in c:\users\swath\downloads\python\lib\site-packages (0.27.1)
Requirement already satisfied: Levenshtein==0.27.1 in c:\users\swath\downloads\python\lib\site-packages (from python-Levenshtein) (0.27.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.9.0 in c:\users\swath\downloads\python\lib\site-packages (from Levenshtein==0.27.1->python-Levenshtein) (3.14.1)

In [2]:
df = pd.read_csv('account_dim.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6998 entries, 0 to 6997
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   account_id        6998 non-null   int64
 1   customer_id       6998 non-null   int64
 2   branch_id         6998 non-null   int64
 3   account_type      6998 non-null   object
 4   opening_date      6998 non-null   object
 5   balance           6998 non-null   float64
 6   status            6998 non-null   object
 7   account_age_days  6998 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 437.5+ KB

In [5]:
df.head()

,account_id,customer_id,branch_id,account_type,opening_date,balance,status,account_age_days
0,1,1024,89,Credit Card,2013-06-19,25.31,Suspended,4523
1,2,3002,124,Loan,2017-01-11,331.88,Suspended,3221
2,3,3628,130,Current,2014-02-06,148.28,Suspended,4291
3,4,612,37,Savings,2024-01-02,17.12,Active,674
4,5,1472,33,Current,2025-05-27,180.89,Closed,163

In [6]:
df.isnull().sum()

account_id          0
customer_id         0
branch_id           0
account_type        0
opening_date        0
balance             0
status              0
account_age_days    0
dtype: int64

In [24]:
df.duplicated().sum()

np.int64(0)

In [7]:
df['account_type'].unique()

array(['Credit Card', 'Loan', 'Current', 'Savings', 'Cerdit Card',
       'Savigns', 'Crurent', 'Crdeit Card', 'Credit Crad', 'Curretn',
       'Credit Cadr', 'Credit aCrd'], dtype=object)

In [8]:
#Define clean valid roles
# 1. valid account types
valid_accounts = ['credit card', 'loan', 'current', 'savings']

In [9]:
#Normalize dirty roles
df['account_type'] = (df['account_type'].astype(str).str.strip().str.lower())

In [10]:
# 2. fuzzy correction function
def correct_account_type(x):
    text = str(x).strip().lower()           # normalize here
    match, score = process.extractOne(text, valid_accounts)
    if score >= 60:
        return match.title()                # 'credit card' -> 'Credit Card'
    else:
        return text.title()                 # fallback

In [11]:
# 3. apply directly to the column
df['account_type'] = df['account_type'].apply(correct_account_type)

In [12]:
df['account_type'].unique()

array(['Credit Card', 'Loan', 'Current', 'Savings'], dtype=object)

In [13]:
df.head(30)

,account_id,customer_id,branch_id,account_type,opening_date,balance,status,account_age_days
0,1,1024,89,Credit Card,2013-06-19,25.31,Suspended,4523
1,2,3002,124,Loan,2017-01-11,331.88,Suspended,3221
2,3,3628,130,Current,2014-02-06,148.28,Suspended,4291
3,4,612,37,Savings,2024-01-02,17.12,Active,674
4,5,1472,33,Current,2025-05-27,180.89,Closed,163
5,6,2507,60,Credit Card,2021-04-28,594.74,Suspended,1653
6,7,2198,195,Loan,2013-10-18,442.08,Suspended,4402
7,8,2885,51,Current,2025-03-15,110.71,Active,236
8,9,183,111,Loan,2015-04-04,129.88,Closed,3869
9,10,1283,22,Current,2024-04-15,44.93,Suspended,570
10,11,1592,66,Credit Card,2019-09-10,23.73,Closed,2249
11,12,3399,59,Loan,2014-02-13,391.30,Active,4284
12,13,3752,12,Current,2019-12-09,81.27,Closed,2159
13,14,3926,23,Current,2020-06-26,34.43,Active,1959
14,15,394,92,Savings,2013-11-01,89.78,Suspended,4388
15,16,2464,165,Loan,2012-01-25,12.17,Closed,5034
16,17,1539,159,Credit Card,2013-04-29,81.40,Suspended,4574
17,18,87,58,Loan,2018-07-04,153.37,Active,2682
18,19,2396,118,Credit Card,2024-10-16,190.78,Closed,386
19,20,2107,195,Loan,2018-09-01,28.12,Closed,2623
20,21,3955,176,Credit Card,2013-03-14,145.79,Active,4620
21,22,2331,11,Current,2016-02-17,647.90,Active,3550
22,23,1931,77,Savings,2020-01-06,95.15,Closed,2131
23,24,3393,97,Credit Card,2018-07-08,122.28,Active,2678
24,25,3616,80,Savings,2023-04-25,140.72,Closed,926
25,26,3484,186,Savings,2021-03-03,25.09,Suspended,1709
26,27,1311,182,Loan,2013-03-25,22.59,Closed,4609
27,28,1354,21,Credit Card,2025-05-24,48.98,Active,166
28,29,2823,177,Savings,2021-01-25,81.61,Suspended,1746
29,30,3600,57,Savings,2014-11-11,54.02,Active,4013

In [14]:
# 1. Fix issue_date - convert to datetime
df['opening_date'] = pd.to_datetime(df['opening_date'], errors='coerce')
df.dtypes

account_id                   int64
customer_id                  int64
branch_id                    int64
account_type                object
opening_date        datetime64[ns]
balance                    float64
status                      object
account_age_days             int64
dtype: object

In [15]:
df['status'].unique()

array(['Suspended', 'Active', 'Closed'], dtype=object)

In [16]:
df.isnull().sum()

account_id          0
customer_id         0
branch_id           0
account_type        0
opening_date        0
balance             0
status              0
account_age_days    0
dtype: int64

In [17]:
df.duplicated().sum()

np.int64(0)

In [18]:
#account.csv → fix negative balance
df['balance'] = df['balance'].abs()

In [20]:
df[df['balance'] < 0]

Empty DataFrame
Columns: [account_id, customer_id, branch_id, account_type, opening_date, balance, status, account_age_days]
Index: []

In [21]:
df.dtypes

account_id                   int64
customer_id                  int64
branch_id                    int64
account_type                object
opening_date        datetime64[ns]
balance                    float64
status                      object
account_age_days             int64
dtype: object

In [22]:
df.head(103)

,account_id,customer_id,branch_id,account_type,opening_date,balance,status,account_age_days
0,1,1024,89,Credit Card,2013-06-19,25.31,Suspended,4523
1,2,3002,124,Loan,2017-01-11,331.88,Suspended,3221
2,3,3628,130,Current,2014-02-06,148.28,Suspended,4291
3,4,612,37,Savings,2024-01-02,17.12,Active,674
4,5,1472,33,Current,2025-05-27,180.89,Closed,163
...,...,...,...,...,...,...,...,...
98,99,1299,123,Current,2015-03-17,326.36,Suspended,3887
99,100,697,118,Credit Card,2024-08-13,214.73,Suspended,450
100,101,2161,24,Credit Card,2023-05-12,135.44,Closed,909
101,102,1762,6,Current,2025-06-09,41.87,Active,150
102,103,2139,1,Savings,2016-11-20,38.00,Closed,3273

In [23]:
df.shape

(6998, 8)

In [24]:
df.to_csv(r"C:\Users\swath\Downloads\account.csv", index=False)