In [18]:
import pandas as pd
import numpy as np
from datetime import datetime

!pip install fuzzywuzzy python-Levenshtein
from fuzzywuzzy import process

Requirement already satisfied: fuzzywuzzy in c:\users\swath\downloads\python\lib\site-packages (0.18.0)
Requirement already satisfied: python-Levenshtein in c:\users\swath\downloads\python\lib\site-packages (0.27.1)
Requirement already satisfied: Levenshtein==0.27.1 in c:\users\swath\downloads\python\lib\site-packages (from python-Levenshtein) (0.27.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.9.0 in c:\users\swath\downloads\python\lib\site-packages (from Levenshtein==0.27.1->python-Levenshtein) (3.14.1)

In [19]:
df= pd.read_csv('branch_dim.csv')

In [20]:
df.shape

(200, 5)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   branch_id    200 non-null    int64
 1   branch_name  200 non-null    object
 2   city         200 non-null    object
 3   state        200 non-null    object
 4   region       188 non-null    object
dtypes: int64(1), object(4)
memory usage: 7.9+ KB

In [22]:
df.describe

<bound method NDFrame.describe of      branch_id             branch_name        city             state  region
0            1     Jaipur North Branch      Jaipur         Rajasthan   oNrth
1            2   Bengaluru East Branch   Bengaluru       Maharashtra    West
2            3      Thane South Branch       thane           haryana   North
3            4    Srinagar West Branch    Srinagar            Odisha    East
4            5  Vijayawada East Branch  Vijayawada    Madhya Pradesh    West
..         ...                     ...         ...               ...     ...
195        196  Hyderabad South Branch   Hyderabad           Mizoram    East
196        197     Nashik North Branch      Nashik        Chandigarh   North
197        198     Chennai East Branch     Chennai  Himachal Pradesh   Norht
198        199     Mumbai South Branch      Mumbai           Gujarat     NaN
199        200      Rajkot East Branch      Rajkot        CHANDIGARH   North

[200 rows x 5 columns]>

In [23]:
df.head()

   branch_id             branch_name        city           state  region
0          1     Jaipur North Branch      Jaipur       Rajasthan   oNrth
1          2   Bengaluru East Branch   Bengaluru     Maharashtra    West
2          3      Thane South Branch       thane         haryana   North
3          4    Srinagar West Branch    Srinagar          Odisha    East
4          5  Vijayawada East Branch  Vijayawada  Madhya Pradesh    West

In [24]:
df.isnull().sum()

branch_id       0
branch_name     0
city            0
state           0
region         12
dtype: int64

In [25]:
df.duplicated().sum()

np.int64(0)

In [26]:
# clean city names (this alone will fix 'thane', 'LUDHIANA', ' mumbai ', etc.)
df['city'] = df['city'].astype(str).str.strip().str.title()

In [27]:
df['city'].unique()

array(['Jaipur', 'Bengaluru', 'Thane', 'Srinagar', 'Vijayawada',
       'Ludhiana', 'Chennai', 'Surat', 'Ahmedabad', 'Nashik', 'Hyderabad',
       'Lucknow', 'Mumbai', 'Pune', 'Varanasi', 'Agra', 'Indore',
       'Madurai', 'Kochi', 'Nagpur', 'Ranchi', 'Aurangabad', 'Mysuru',
       'Kanpur', 'Kolkata', 'Ghaziabad', 'Delhi', 'Visakhapatnam',
       'Bhopal', 'Rajkot', 'Patna', 'Vadodara', 'Guwahati', 'Coimbatore'],
      dtype=object)

In [28]:
city_state_map = {
    'Jaipur': 'Rajasthan',
    'Bengaluru': 'Karnataka',
    'Thane': 'Maharashtra',
    'Srinagar': 'Jammu & Kashmir',
    'Vijayawada': 'Andhra Pradesh',
    'Ludhiana': 'Punjab',
    'Chennai': 'Tamil Nadu',
    'Surat': 'Gujarat',
    'Ahmedabad': 'Gujarat',
    'Nashik': 'Maharashtra',
    'Hyderabad': 'Telangana',
    'Lucknow': 'Uttar Pradesh',
    'Mumbai': 'Maharashtra',
    'Pune': 'Maharashtra',
    'Varanasi': 'Uttar Pradesh',
    'Agra': 'Uttar Pradesh',
    'Indore': 'Madhya Pradesh',
    'Madurai': 'Tamil Nadu',
    'Kochi': 'Kerala',
    'Nagpur': 'Maharashtra',
    'Ranchi': 'Jharkhand',
    'Aurangabad': 'Maharashtra',
    'Mysuru': 'Karnataka',
    'Kanpur': 'Uttar Pradesh',
    'Kolkata': 'West Bengal',
    'Ghaziabad': 'Uttar Pradesh',
    'Delhi': 'Delhi',
    'Visakhapatnam': 'Andhra Pradesh',
    'Bhopal': 'Madhya Pradesh',
    'Rajkot': 'Gujarat',
    'Patna': 'Bihar',
    'Vadodara': 'Gujarat',
    'Guwahati': 'Assam',
    'Coimbatore': 'Tamil Nadu'
}

df['state'] = df['city'].map(city_state_map)

In [29]:
df['city'].unique()

array(['Jaipur', 'Bengaluru', 'Thane', 'Srinagar', 'Vijayawada',
       'Ludhiana', 'Chennai', 'Surat', 'Ahmedabad', 'Nashik', 'Hyderabad',
       'Lucknow', 'Mumbai', 'Pune', 'Varanasi', 'Agra', 'Indore',
       'Madurai', 'Kochi', 'Nagpur', 'Ranchi', 'Aurangabad', 'Mysuru',
       'Kanpur', 'Kolkata', 'Ghaziabad', 'Delhi', 'Visakhapatnam',
       'Bhopal', 'Rajkot', 'Patna', 'Vadodara', 'Guwahati', 'Coimbatore'],
      dtype=object)

In [30]:
df['region'].unique()

array(['oNrth', 'West', ' North', 'East', 'North', nan, 'South', ' East',
       'EAST', '  North  ', 'WEST', 'eWst', 'Eats', 'West ', 'South ',
       'Nroth', ' West', 'SOUTH', 'Esat', 'NORTH', 'south', 'oSuth',
       'Norht', '  East  ', '  South  '], dtype=object)

In [32]:
df['region'] = None

In [33]:
state_region_map = {
    'Rajasthan': 'North',
    'Uttar Pradesh': 'North',
    'Delhi': 'North',
    'Punjab': 'North',
    'Jammu & Kashmir': 'North',

    'Tamil Nadu': 'South',
    'Kerala': 'South',
    'Karnataka': 'South',
    'Andhra Pradesh': 'South',
    'Telangana': 'South',

    'Maharashtra': 'West',
    'Gujarat': 'West',

    'Bihar': 'East',
    'Jharkhand': 'East',
    'West Bengal': 'East',
    'Assam': 'East'
}

df['region'] = df['state'].map(state_region_map)

In [34]:
df['region'].unique()

array(['North', 'South', 'West', nan, 'East'], dtype=object)

In [43]:
df.head(67)

,branch_id,branch_name,city,state,region
0,1,Jaipur North Branch,Jaipur,Rajasthan,North
1,2,Bengaluru East Branch,Bengaluru,Karnataka,South
2,3,Thane South Branch,Thane,Maharashtra,West
3,4,Srinagar West Branch,Srinagar,Jammu & Kashmir,North
4,5,Vijayawada East Branch,Vijayawada,Andhra Pradesh,South
...,...,...,...,...,...
62,63,Visakhapatnam West Branch,Visakhapatnam,Andhra Pradesh,South
63,64,Ahmedabad East Branch,Ahmedabad,Gujarat,West
64,65,Agra East Branch,Agra,Uttar Pradesh,North
65,66,Indore South Branch,Indore,Madhya Pradesh,NaN
66,67,Ghaziabad Main Branch,Ghaziabad,Uttar Pradesh,North

In [36]:
df.isnull().sum()

branch_id       0
branch_name     0
city            0
state           0
region         12
dtype: int64

In [39]:
df.dtypes

branch_id       int64
branch_name    object
city           object
state          object
region         object
dtype: object

In [40]:
df[df['region'].isna()]['state'].unique()

array(['Madhya Pradesh'], dtype=object)

In [44]:
state_region_map = {
    # North
    'Rajasthan': 'North',
    'Uttar Pradesh': 'North',
    'Delhi': 'North',
    'Punjab': 'North',
    'Jammu & Kashmir': 'North',

    # South
    'Tamil Nadu': 'South',
    'Kerala': 'South',
    'Karnataka': 'South',
    'Andhra Pradesh': 'South',
    'Telangana': 'South',

    # West
    'Maharashtra': 'West',
    'Gujarat': 'West',
    'Madhya Pradesh': 'West',   # ⭐ ADD THIS LINE

    # East
    'Bihar': 'East',
    'Jharkhand': 'East',
    'West Bengal': 'East',
    'Assam': 'East'
}

In [45]:
df['region'] = df['state'].map(state_region_map)

In [46]:
df['region'].isnull().sum()

np.int64(0)

In [47]:
df.head(60)

,branch_id,branch_name,city,state,region
0,1,Jaipur North Branch,Jaipur,Rajasthan,North
1,2,Bengaluru East Branch,Bengaluru,Karnataka,South
2,3,Thane South Branch,Thane,Maharashtra,West
3,4,Srinagar West Branch,Srinagar,Jammu & Kashmir,North
4,5,Vijayawada East Branch,Vijayawada,Andhra Pradesh,South
5,6,Ludhiana Central Branch,Ludhiana,Punjab,North
6,7,Chennai West Branch,Chennai,Tamil Nadu,South
7,8,Surat South Branch,Surat,Gujarat,West
8,9,Ludhiana South Branch,Ludhiana,Punjab,North
9,10,Ahmedabad West Branch,Ahmedabad,Gujarat,West
10,11,Nashik South Branch,Nashik,Maharashtra,West
11,12,Hyderabad South Branch,Hyderabad,Telangana,South
12,13,Lucknow South Branch,Lucknow,Uttar Pradesh,North
13,14,Nashik Main Branch,Nashik,Maharashtra,West
14,15,Mumbai Main Branch,Mumbai,Maharashtra,West
15,16,Pune West Branch,Pune,Maharashtra,West
16,17,Varanasi Central Branch,Varanasi,Uttar Pradesh,North
17,18,Agra East Branch,Agra,Uttar Pradesh,North
18,19,Indore North Branch,Indore,Madhya Pradesh,West
19,20,Madurai Main Branch,Madurai,Tamil Nadu,South
20,21,Kochi North Branch,Kochi,Kerala,South
21,22,Chennai Central Branch,Chennai,Tamil Nadu,South
22,23,Agra Central Branch,Agra,Uttar Pradesh,North
23,24,Nagpur North Branch,Nagpur,Maharashtra,West
24,25,Ranchi North Branch,Ranchi,Jharkhand,East
25,26,Agra Main Branch,Agra,Uttar Pradesh,North
26,27,Surat South Branch,Surat,Gujarat,West
27,28,Chennai South Branch,Chennai,Tamil Nadu,South
28,29,Pune East Branch,Pune,Maharashtra,West
29,30,Kochi Central Branch,Kochi,Kerala,South
30,31,Aurangabad Main Branch,Aurangabad,Maharashtra,West
31,32,Ludhiana West Branch,Ludhiana,Punjab,North
32,33,Mysuru South Branch,Mysuru,Karnataka,South
33,34,Kanpur Main Branch,Kanpur,Uttar Pradesh,North
34,35,Kolkata Main Branch,Kolkata,West Bengal,East
35,36,Ahmedabad East Branch,Ahmedabad,Gujarat,West
36,37,Kochi North Branch,Kochi,Kerala,South
37,38,Ranchi Main Branch,Ranchi,Jharkhand,East
38,39,Ghaziabad West Branch,Ghaziabad,Uttar Pradesh,North
39,40,Pune South Branch,Pune,Maharashtra,West
40,41,Lucknow South Branch,Lucknow,Uttar Pradesh,North
41,42,Delhi South Branch,Delhi,Delhi,North
42,43,Ahmedabad Main Branch,Ahmedabad,Gujarat,West
43,44,Pune North Branch,Pune,Maharashtra,West
44,45,Madurai Central Branch,Madurai,Tamil Nadu,South
45,46,Visakhapatnam South Branch,Visakhapatnam,Andhra Pradesh,South
46,47,Pune West Branch,Pune,Maharashtra,West
47,48,Hyderabad East Branch,Hyderabad,Telangana,South
48,49,Kanpur Main Branch,Kanpur,Uttar Pradesh,North
49,50,Mysuru West Branch,Mysuru,Karnataka,South
50,51,Mysuru West Branch,Mysuru,Karnataka,South
51,52,Pune West Branch,Pune,Maharashtra,West
52,53,Hyderabad West Branch,Hyderabad,Telangana,South
53,54,Bengaluru North Branch,Bengaluru,Karnataka,South
54,55,Bhopal North Branch,Bhopal,Madhya Pradesh,West
55,56,Rajkot Central Branch,Rajkot,Gujarat,West
56,57,Jaipur North Branch,Jaipur,Rajasthan,North
57,58,Rajkot North Branch,Rajkot,Gujarat,West
58,59,Mysuru Central Branch,Mysuru,Karnataka,South
59,60,Thane North Branch,Thane,Maharashtra,West

In [48]:
df.dtypes

branch_id       int64
branch_name    object
city           object
state          object
region         object
dtype: object

In [49]:
df.isnull().sum()

branch_id      0
branch_name    0
city           0
state          0
region         0
dtype: int64

In [51]:
df.to_csv(r"C:\Users\swath\Downloads\branch.csv", index=False)