In [1]:
import pandas as pd
import numpy as np

!pip install fuzzywuzzy python-Levenshtein
from fuzzywuzzy import process

Requirement already satisfied: fuzzywuzzy in c:\users\swath\downloads\python\lib\site-packages (0.18.0)
Requirement already satisfied: python-Levenshtein in c:\users\swath\downloads\python\lib\site-packages (0.27.1)
Requirement already satisfied: Levenshtein==0.27.1 in c:\users\swath\downloads\python\lib\site-packages (from python-Levenshtein) (0.27.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.9.0 in c:\users\swath\downloads\python\lib\site-packages (from Levenshtein==0.27.1->python-Levenshtein) (3.14.1)

In [3]:
df = pd.read_csv('fact_transaction.csv')

In [4]:
df.shape

(12040, 7)

In [5]:
df.head()

,transaction_id,account_id,transaction_date,transaction_type,amount,channel,is_fraud
0,1,5857,2025/05/19,POS,6085.95,UPI,0
1,2,2564,2023/01/30 11:07,ATM Withdrawal,5785.92,UPI,0
2,3,2275,2024-01-12 14:28:10,Debit,522.88,UPI,0
3,4,6471,10/07/2018 18:37:52,Credit,1386.3,UPI,0
4,5,6290,2018/04/13,UPI,2879.44,Online,0

In [6]:
df.dtypes

transaction_id       int64
account_id           int64
transaction_date    object
transaction_type    object
amount              object
channel             object
is_fraud            object
dtype: object

In [7]:
df.duplicated().sum()

np.int64(40)

In [8]:
df = df.drop_duplicates()

In [9]:
df.shape

(12000, 7)

In [10]:
df['transaction_date'] = pd.to_datetime(df['transaction_date'], format='mixed', dayfirst=True)
df['transaction_date'] = pd.to_datetime(df['transaction_date']).dt.strftime('%Y-%m-%d %H:%M:%S')

In [11]:
df.head(25)

,transaction_id,account_id,transaction_date,transaction_type,amount,channel,is_fraud
0,1,5857,2025-05-19 00:00:00,POS,6085.95,UPI,0
1,2,2564,2023-01-30 11:07:00,ATM Withdrawal,5785.92,UPI,0
2,3,2275,2024-01-12 14:28:10,Debit,522.88,UPI,0
3,4,6471,2018-07-10 18:37:52,Credit,1386.3,UPI,0
4,5,6290,2018-04-13 00:00:00,UPI,2879.44,Online,0
5,6,6516,2019-11-07 00:00:00,ATM Withdrawal,441.92,ATM,0
6,7,1802,2025-08-31 05:38:00,Debit,2148.77,ATM,0
7,8,2096,2020-01-06 15:14:51,UPI,3843.81,POS,0
8,9,3269,2021-02-11 08:55:37,UPI,7571.14,POS,1
9,10,6750,2022-11-04 17:24:01,Credit,4316.21,Branch,0
10,11,1737,2024-08-17 00:00:00,ATM Withdrawal,1162.48,ATM,0
11,12,4976,2020-12-19 05:07:33,Online Transfer,220.29,POS,0
12,13,1161,2019-09-26 00:00:00,Credit,5609.0,POS,0
13,14,3967,2023-12-10 01:36:21,Debit,441.97,Branch,0
14,15,1243,2018-05-02 00:00:00,Debit,10833.41,UPI,1
15,16,3407,2025-09-02 05:18:23,UPI,5876.43,UPI,1
16,17,786,2025-08-12 19:13:11,UPI,2401.94,Online,0
17,18,2221,2022-09-18 12:17:19,Debit,7356.08,POS,0
18,19,2211,2023-03-26 08:06:08,UPI,2935.59,ATM,1
19,20,4759,2020-01-20 00:00:00,Online Transfer,10520.55,ATM,1
20,21,2718,2018-05-17 00:00:00,POS,3738.52,POS,0
21,22,3552,2018-08-19 12:32:33,ATM Withdrawal,2107.85,ATM,0
22,23,4038,2024-03-23 16:23:46,Debit,3918.38,Branch,0
23,24,3916,2020-06-19 00:00:00,ATM Withdrawal,17392.26,ATM,0
24,25,4919,2021-01-20 20:42:28,OPS,683.17,UPI,0

In [12]:
df.dtypes

transaction_id       int64
account_id           int64
transaction_date    object
transaction_type    object
amount              object
channel             object
is_fraud            object
dtype: object

In [13]:
df['transaction_date'] = pd.to_datetime(df['transaction_date'], errors='coerce')
df.dtypes

transaction_id               int64
account_id                   int64
transaction_date    datetime64[ns]
transaction_type            object
amount                      object
channel                     object
is_fraud                    object
dtype: object

In [14]:
df.isnull().sum()

transaction_id      0
account_id          0
transaction_date    0
transaction_type    0
amount              0
channel             0
is_fraud            0
dtype: int64

In [15]:
df['transaction_type'] = (df['transaction_type'].astype(str).str.lower().str.strip())

In [16]:
valid_types = [
    'pos',
    'debit',
    'credit',
    'upi',
    'atm withdrawal',
    'online transfer'
]

In [17]:
def correct_type(x):
    match, score = process.extractOne(x, valid_types)
    return match if score >= 60 else x

In [18]:
df['transaction_type'] = df['transaction_type'].apply(correct_type)

In [19]:
df['transaction_type'] = df['transaction_type'].replace({
    'pos': 'POS',
    'debit': 'Debit',
    'credit': 'Credit',
    'upi': 'UPI',
    'atm withdrawal': 'ATM Withdrawal',
    'online transfer': 'Online Transfer'
})

In [20]:
print(df['transaction_type'].value_counts())
print(df['transaction_type'].unique())
df.dtypes

transaction_type
POS                2095
Debit              2025
ATM Withdrawal     2007
Credit             1968
Online Transfer    1963
UPI                1942
Name: count, dtype: int64
['POS' 'ATM Withdrawal' 'Debit' 'Credit' 'UPI' 'Online Transfer']

transaction_id               int64
account_id                   int64
transaction_date    datetime64[ns]
transaction_type            object
amount                      object
channel                     object
is_fraud                    object
dtype: object

In [21]:
df.isnull().sum()

transaction_id      0
account_id          0
transaction_date    0
transaction_type    0
amount              0
channel             0
is_fraud            0
dtype: int64

In [22]:
df['channel'] = (df['channel'].astype(str).str.strip().str.lower())

In [23]:
# 2. Define correct target categories
valid_channels = [
    'atm',
    'branch',
    'pos',
    'upi',
    'online'
]

In [24]:
# 3. Fuzzy function
def correct_channel(x):
    match, score = process.extractOne(x, valid_channels)
    return match if score >= 60 else x

In [25]:
# 4. Apply correction
df['channel'] = df['channel'].apply(correct_channel)

In [26]:
# 5. Proper casing
df['channel'] = df['channel'].replace({
    'atm': 'ATM',
    'branch': 'Branch',
    'pos': 'POS',
    'upi': 'UPI',
    'online': 'Online'
})

In [27]:
# 6. Check result
print(df['channel'].value_counts())
print(df['channel'].unique())

channel
ATM       2487
Branch    2426
POS       2397
Online    2351
UPI       2339
Name: count, dtype: int64
['UPI' 'Online' 'ATM' 'POS' 'Branch']

In [28]:
df.isnull().sum()

transaction_id      0
account_id          0
transaction_date    0
transaction_type    0
amount              0
channel             0
is_fraud            0
dtype: int64

In [29]:
df['is_fraud'] = df['is_fraud'].astype(str).str.strip().str.lower()

In [30]:
#(Handles values: “yes/no”, “true/false”, “1/0”, mixed spellings)
df['is_fraud'] = df['is_fraud'].replace({
    'yes': 1,
    'y': 1,
    'true': 1,
    '1': 1,
    'fraud': 1,
    'no': 0,
    'n': 0,
    'false': 0,
    '0': 0,
    'not fraud': 0
})

C:\Users\swath\AppData\Local\Temp\ipykernel_11904\581784649.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['is_fraud'] = df['is_fraud'].replace({

In [31]:
df['is_fraud'] = df['is_fraud'].astype(int)
df.dtypes

transaction_id               int64
account_id                   int64
transaction_date    datetime64[ns]
transaction_type            object
amount                      object
channel                     object
is_fraud                     int64
dtype: object

In [32]:
df.isnull().sum()

transaction_id      0
account_id          0
transaction_date    0
transaction_type    0
amount              0
channel             0
is_fraud            0
dtype: int64

In [33]:
# 5. Fix amount - remove currency symbols and commas
df['amount'] = df['amount'].astype(str).str.replace('₹', '').str.replace(',', '')
df['amount'] = df['amount'].astype(float)
df.dtypes

transaction_id               int64
account_id                   int64
transaction_date    datetime64[ns]
transaction_type            object
amount                     float64
channel                     object
is_fraud                     int64
dtype: object

In [35]:
#transaction.csv → fix negative amount
df['amount'] = df['amount'].abs()

In [36]:
df[df['amount'] < 0]

Empty DataFrame
Columns: [transaction_id, account_id, transaction_date, transaction_type, amount, channel, is_fraud]
Index: []

In [37]:
df.dtypes

transaction_id               int64
account_id                   int64
transaction_date    datetime64[ns]
transaction_type            object
amount                     float64
channel                     object
is_fraud                     int64
dtype: object

In [40]:
df.head(93)

,transaction_id,account_id,transaction_date,transaction_type,amount,channel,is_fraud
0,1,5857,2025-05-19 00:00:00,POS,6085.95,UPI,0
1,2,2564,2023-01-30 11:07:00,ATM Withdrawal,5785.92,UPI,0
2,3,2275,2024-01-12 14:28:10,Debit,522.88,UPI,0
3,4,6471,2018-07-10 18:37:52,Credit,1386.30,UPI,0
4,5,6290,2018-04-13 00:00:00,UPI,2879.44,Online,0
...,...,...,...,...,...,...,...
88,89,2928,2019-03-25 10:49:00,ATM Withdrawal,500.19,ATM,0
89,90,3611,2018-09-05 09:32:30,UPI,3736.57,Online,0
90,91,708,2024-01-11 04:57:32,Online Transfer,7871.65,Online,0
91,92,471,2021-02-11 06:14:59,Credit,2007.22,ATM,0
92,93,3536,2018-06-18 00:00:00,UPI,8499.74,ATM,0

In [41]:
df.to_csv(r"C:\Users\swath\Downloads\transaction.csv", index=False)